{% extends "base2.html" %}

{% block title %}Add Venue{% endblock %}

{% block results %}
<h3>Add a Venue</h3>

{% if form.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{% for field in form %} 
			{% if field.errors %}
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form.as_table }}
        {{ formpic.as_table}}
    </table>
    <input class="btn btn-large btn-primary" type="submit" value="Save">
</form>	
{% endblock %}