{% extends "base.html" %}

{% block title %}Add Facility{% endblock %}

{% block content %}
<h3>Add a Facility to {{ venue.name }}</h3>


{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    <table>
        {{ form.as_table }}
        {{ formpic.as_table}}
    </table>
    {% csrf_token %}
    <input class="btn btn-large btn-primary" type="submit" value="Add Facility">
    <a href="/locations/{{Venue.id}}">Return to details page</a>
</form>	
{% endblock %}