{% extends "base2.html" %}

{% block title %}All venues{% endblock %}

{% block results %}
{% if venue_list %}
            {% for Venue in venue_list %}
            <div class="col-sm-4">
                <div class="thumbnail" style="background-color:lightgrey; height: 100%"><img src="media/{{Venuepic.image}}" style="padding-top:30px;">
                    <div class="caption">
                        <h4 class="results">{{Venue.name}}</h4>
                        <p class="results">{{Venue.summary}}</p>
                        <p class="results"><a href="target" style="color:white;">Link to results</a></p>
                        <p class="results"><a href="target" style="color:white;">Link to results</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% else %}
    <p>No venues matched your search criteria. <a href="/locations/">Try another search.</a></p>
{% endif %}
{% endblock %}
