{% extends "base1.html" %}

{% block title %}Edit Facility{% endblock %}

{% block leftcolumn %}
<h3>Edit a Facility at</h3>

<h2>{{ facility.venue }}</h2>

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form action="" method="post">
    <table>
        {{ form.as_table }}
    </table>

    {% csrf_token %}
    <input class="btn btn-large btn-primary" type="submit" value="Save Changes">
</form>	
{% endblock %}