{% block title %}<h1>Bugger</h1>{% endblock %}

{% block content %}
<h2>Bugs Assigned to Me</h2>
<h3><a href="/bugger/">All Bugs</a></h3>
<h3><a href="/bugger/create/">Create Bug</a></h3>
<table width="100%" border="1">
<tr><th>Assigned To</th><th>Summary</th><th>Status</th><th>Priority</th><th>Created By</th></tr>
{% for bug in bug_list %}
    <tr><td>{{ bug.assigned_to }}</td><td><a href="/bugger/bug/{{bug.id}}">{{ bug.summary }}</a></td><td>{{ bug.status }}</td><td>{{ bug.priority }}</td><td>{{ bug.created_by }}</td></tr>
{% endfor %}
</table>
{% endblock %}

