{% extends "base.html" %}

{% block title %}All venues{% endblock %}

{% block content %}
	<h2>Venues:</h2>Location not here ? <a href="/locations/add_venue/">Add</a>
	<div class="row">
        <div class="col-md-6">
	{% for Venue in venue_list %}
			<div class="span3" style="background-color:grey; border: black solid;" style="margin-top:30px;">
			<address>
			  <h4><a href="/locations/{{Venue.id}}">{{ Venue.name}}</a></h4>
<!-- 			  {% if venue.image %}
				<p><img src="/media/{{enue.image}}" width=250/></p>
				{% endif %} -->
			  {{ Venue.street_address }}<br>
			  {{ Venue.suburb }}, {{Venue.state}}, {{ Venue.country }}<br>
			  <abbr title="Phone">Ph:</abbr> {{ Venue.phone_number}}
			</address>
		</div>
	{% endfor %}
</div>
</div>
{% endblock %}

	<div class="row">
        <div class="col-md-6">
        	{% for Venue in venue_list %}
            <div class="col-sm-4">
                <div class="thumbnail" style="background-color:grey;"><img src="/media/sport/Golf/images/1390629319_golf.png" style="padding-top:30px;">
                    <div class="caption">
                        <h4 class="results">{{Venue.name}}</h4>
                        <p class="results">Description</p>
                        <p class="results"><a href="target" style="color:white;">Link to results</a></p>
                        <p class="results"><a href="target" style="color:white;">Link to results</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
