{% extends "base1.html" %}

{% block title %}{{group.group_name}}{% endblock %}

{% block leftcolumn %}

<br>
<table cellpadding="10">
<tr><td><u>Name: </u></td><td>{{group.group_name}}</td></tr>
<tr><td><u>Type: </u></td><td>{{group.group_type}}</td></tr>
</table>
<p>Current Members: </p>
{% for member in group.members.all %}
{{ member.user.username }}, 
{% endfor %}
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form action="" method="POST">
        {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Submit">
</form>
<br>
<h2>Leap Messaging</h2>
<br>	
<form action="" method="POST">
        {{ form2.as_p }}
    {% csrf_token %}
    <input type="submit" value="Post">
</form>
<br>
<br>
{% for leap in leap_list %}
<p>{{ leap }}
<br><b>by {{ leap.author.first_name}} {{ leap.author.last_name }} on {{leap.created_at}}</b></p>
<hr>
{% endfor %}


{% endblock %}
